 .main__breadcrumbs {
    display: flex;
    align-items: center;
    gap:5px;
 }
 .main__breadcrumbs i {
    font-size: 12px;
    color: #85888e;
 }
 .main__breadcrumbs-title {
    font-size: 14px;
    color: #85888e;
    padding: 10px;
 }
 .main__download-info {
    display: flex;
    gap: 15px;
    justify-content: start;
    width: 35%;
 }
 .main__download-info-img img {
    width: 120px;
    height: 120px;
    object-fit: cover;
 }
 .main__download-info-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
.rating-star {
    color: #ffa300;
    font-size: 16px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
 }

 .download__desc {
    display: inline-block;
    color: #85888e;
    font-size: 13px;
    margin-top: 20px;
 }
 .main__content-three {
   font-family: 'Open Sans', sans-serif;
   display: flex;
 }
 .main__center {
   width: 65%;
 }
 .main__sidebar {
   width: 34%;
 }
 .btn-download {
    margin: 20px auto;
    width: 200px;
    background-color:#ffa300 ;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #0d6efd;
 }
 .btn-download a {
    color: #fff;
    font-weight: 700;
    display: inline-block;
    padding: 10px;
}
 .main__desc-title {
   font-size: 20px;
   font-weight: 600;
   padding-bottom: 16px;
 }
 .main__desc-text {
   color: rgba(11, 17, 31, 0.72);
   font-size: 15px;
   padding-bottom: 16px;
 }
 .main__desc_text-center {
   text-align: center;
   font-size: 10px;
   padding:20px;
   display: block;
   margin:0 auto;
 }
 .main__progressing {
   margin-bottom: 20px;
 }
 .main__progressing .item {
   margin-bottom: 10px;
   line-height: 1.7;
 }
 .main__progressing .label {
   display: flex;
   justify-content: space-between;
   font-weight: 500;
   font-size: 15px;
 }
 .main__progressing .progress {
   background-color: #ffa300;
   height: 10px;
   width: 100%;
 }
 .main__progressing .title {
   font-weight: 700;
 }
 .progressing-plus-title {
   font-size: 16px;
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 16px;
 }
 .progressing-plus-desc {
   font-size: 15px;
   color: rgba(11, 17, 31, 0.72);
   font-weight: 400;
   margin-top: 20px;
   line-height: 1.3;
 }
 .main__progressing-plus {
   flex-direction: row;
   display: flex;
   gap: 5px;
 }
.main__carosel {
   margin: 20px 0;
}
.main__related-list {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap:5px;
}
.main__related-item {
   width: 32%;
   padding:8px;
}
.loader {
  position: fixed;
  top:0;
  left:0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: #f2f2f2;
  z-index: 1000;
}
.loader img {
  width: 150px;
  height: 150px;
}
.loader--hidden {
  transition: all 0.1s 1.5s;
  opacity: 0;
  visibility: hidden;
  
}