.footer-main {
    background-color: #612a19;
    padding: 40px 28px;
    border-top: 4px solid #46bf00;
}
.info-block p {
    color: #fff;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 26px;
}
.social-links-box h4{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.44;
    color: #a6a9b3;
}
.copyright {
    color: #a6a9b3;
    font-size: 13px;
    line-height: 1.54;
    text-align: center;
}