.logo {
    font-family: Cursive;
    font-size: 24px;
    color: #76ace6;
}
.nav-pc {
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.nav-pc__menu {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.nav-pc__list {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.header-nav a {
    color: #545761;
    font-weight: 400;

}
.search-form-container {
    display: none;
}

.search-form {
    position: relative;
}
.nav-mobile__menu {
    display: none;
    position: absolute;
    right: 10px;
    top: 40px;
}
.nav-mobile__menu li {
    padding:10px;
    width: 150px;
    border: 1px solid  #ebebeb;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-mobile {
    position: relative;
}
.nav-pc__search {
    display: flex;
}
.search-form input {
    height: 44px;
    border-radius: 22px;
    background-color: #f2f5f7;
    border: none;
    box-shadow: none;
    padding: 0 50px 0 20px;
}
.search-btn-submit {
    position: absolute;
    right: 20px;
    top:    15px;
    padding: 8px 15px 2px 0;
    font-size: 15px;
    color: #83858f;
}
/* mobile */
.nav-mobile-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.nav-mobie-btn {
    display: flex;
    gap:10px;
    align-items: center;
}
.nav-mobile .search-form-container {
    width: 80%;
    position: absolute;

}
.nav-mobile .search-form input {
    width: 100%;
}
.show {
    display: block;
}