.product__bottom {
  display: flex;
}

.product__bottom-second {
  margin-top: 30px;
}

.product__left {
  width: 60%;
}

.product__left-second {
  width: 65%;
}

.product__left-article {
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 hsla(220, 7%, 92%, 0.92),
    0 -1px 1px 0 hsla(220, 7%, 92%, 0.6);
  padding: 30px 32px 40px;
  margin-bottom: 20px;
  background-color: #fff;
}
.product__left-title h2 {
  line-height: 1.33;
}
.product__left-title p {
  font-size: 16px;
  line-height: 1.63;
  color: #454955;
  padding: 0;
  margin: 0 0 8px;
}
.product__left-title span {
  font-size: 10px;
  line-height: 26px;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:30px 0 50px 0;
}
.product__left-category {
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 hsla(220, 7%, 92%, 0.92),
    0 -1px 1px 0 hsla(220, 7%, 92%, 0.6);
  padding: 16px 32px;
}
.product__left-category-title {
  font-weight: 600;
  margin: 0 0 12px;
}
.product__left-category-list {
  display: flex;
}
.product__left-category-item {
  padding: 0 8px 8px 0;
}
.product__left-category-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 28px;
  border-radius: 22px;
  background-color: #46bf00;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: #fff;
  padding: 6px 20px;
}
.product__right-trending-item:hover span {
  color:#46bf00 !important;
  transition: all 0.4s;
}
.product__left-search {
  margin: 30px 0;
}
.product__top-btn:hover {
  background-image: linear-gradient(270deg,#129821,#46bf00 0) !important;

}
.product__left-search-list {
  clear: both;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  list-style-type: none;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.product__left-search-item {
  display: inline-block;
  margin-bottom: 14px;
}
.product__left-search-link {
  background: #eee;
  color: #444;
  padding: 4px;
  margin-right: 12px;
  display: flex;
  font-size: 14px;
}
.product__left-search-link:hover {
  background-color: #3399ff;
  color: #fff;
}
.product__left-search-form input {
  width: 90%;
  background: #dadada url(images/search.png) no-repeat right;
  border: 1px solid #ddd;
  padding: 6px 24px 6px 6px;
  font-family: "Droid Sans", sans-serif;
  font-size: 12px;
  color: #000;
  margin-top: -9px;
  outline: none;
  height: 30px;
}
.product__left-post-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product__left-post-item {
  padding: 14px;
  height: auto;
  background: #f1f1f1;
}
.product__left-post-item h2 {
  font-size: 13px;
  line-height: 16px;
  padding: 0 6px 6px 6px;
}
.product__left-post-item img {
  width: 120px;
  height: 80px;
  display: block;
  float: left;
  margin-right: 12px;
}
.product__left-post-nextpage {
  clear: both;
  overflow: hidden;
  margin: 20px 0;
}
.page-numbers {
  background: #fff;
  color: #3399ff;
  display: inline-block;
  margin-bottom: 8px;
  padding: 17px 14px;
  border: 1px solid #e6eae6;
  font-size: 16px;
  font-weight: bold;
}
.product__left-contact {
  text-align: center;
  line-height: 1.5;
}
.product__left-contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.product__left-contact-item {
  padding: 5px;
  color: #3399ff;
}
.product__left-contact-item2 {
  padding: 1px;
  color: #3399ff;
}
.product__left-contact-item::after {
  content: "|";
  color: #222;
  font-size: inherit;
}
.product__left-contact-item2::after {
  content: "|";
  color: #222;
  font-size: inherit;
}
.product__left-contact-item:last-child::after {
  content: "";
}
.product__left-link {
  color: #3399ff;
  display: flex;
  justify-content: flex-start;
  padding: 20px 0;
}

.level-up {
  display: flex;
  padding-top: 30px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.level-up .title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
}

.level-up .description {
  color: #4f535d;
  margin-bottom: 28px;
  font-size: 15px;
}

.level-up .img-responsive {
  position: relative;
  margin-bottom: -5px;
}

/* .level-up .left {
  text-align: center;
} */

.level-up .right {
  padding-left: 30px;
}

.img-responsive {
  max-width: 100%;
}
.product__left-text-top {
  display: block;
  text-align: center;
  padding: 20px;
}
.product__left-app {
  display: flex;
  gap: 15px;
}
.product__left-app-img {
  width: 100px;
  height: 100px;
}
.product__left-two-carosel {
  padding-top: 20px;
}
.product__left-install-top {
  text-align: center;
}
.product__left-install-sub {
    margin: 12px 0;
    font-size: 13px;
    color: #85888e;
}
.product__left-install-bottom {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.product__left-install-btn {
  padding: 14px;
  width: 500px;
  border-radius: 10px;
  font-size: 15px;
  color: #fff;
  background-color: #46bf00;
  display: flex;
  justify-content: center;
  gap:5px;
  align-items: center;
}
.product__left-question-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 15px 20px;
  box-shadow: 0 4px 24px 0 rgb(43 64 115 / 8%);

}
.product__left-desc {
  padding: 20px 25px 20px;
  border-radius: 5px;
  box-shadow: 0 1px 50px 0 rgb(34 45 56 / 6%);
  background: #fff;
}
.product__left-desc-title {
  border-bottom: 1px solid gray;
  margin: 0;
}
.product__left-categoris-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.product__left-categoris-title {
  box-shadow: 0 4px 24px 0 rgb(43 64 115 / 8%);
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
}

.product__left-categoris-title h3 {
  margin: 0;
  padding: 10px 20px;
}

.product__left-categoris-link {
  display: inline-block;
  background-color: #fff;
  font-size: 16px;
  color: #4f535d;
  text-align: center;
  border-radius: 5px;
  padding: 6px;
  box-shadow: 0 4px 20px 0 rgba(43, 64, 115, 0.12);
}
.product__bottom-second {
  font-family: 'Poppins', sans-serif;
}
.product__right-second {
  font-family: 'Poppins', sans-serif;
}
.product__left-desc-content {
  line-height: 1.3;
}
.product__left-desc-content h4 {
  font-size: 18px;
}
.product__left-categoris {
  padding-bottom: 10px;
}
