.product__bottom {
    display: flex;

}
.product__left {
    width: 60%;
}
.product__left-article{
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 hsla(220,7%,92%,.92), 0 -1px 1px 0 hsla(220,7%,92%,.6);
    padding: 30px 32px 40px;
    margin-bottom: 20px;
    background-color: #fff;
}
.product__left-title h2 {
    line-height: 1.33;
}
.product__left-title p {
    font-size: 16px;
    line-height: 1.63;
    color: #454955;
    padding: 0;
    margin: 0 0 8px;
}
.product__left-title span{
    font-size: 10px;
    line-height: 26px;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product__left-category {
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 hsla(220,7%,92%,.92),0 -1px 1px 0 hsla(220,7%,92%,.6);
    padding: 16px 32px;
}
.product__left-category-title {
    font-weight: 600;
    margin: 0 0 12px;
}
.product__left-category-list {
    display: flex;
}
.product__left-category-item {
    padding: 0 8px 8px 0;
}
.product__left-category-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 28px;
    border-radius: 22px;
    background-color: #46bf00;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    color: #fff;
    padding: 6px 20px;
}
.product__left-search {
    margin: 30px 0;
}
.product__left-search-list {
    clear: both;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    list-style-type: none;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.product__left-search-item {
    display: inline-block;
    margin-bottom: 14px;
}
.product__left-search-link {
    background: #3399ff;
    color: #fff;
    padding: 4px;
    margin-right: 12px;
    display: flex;
    font-size: 14px;

}
.product__left-search-form input{
    width: 90%;
    background: #dadada url(images/search.png) no-repeat right;
    border: 1px solid #DDD;
    padding: 6px 24px 6px 6px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 12px;
    color: #000;
    margin-top: -9px;
    outline: none;
    height: 30px;
}
.product__left-post-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.product__left-post-item {
    padding: 14px;
    height: auto;
    background: #f1f1f1;
}
.product__left-post-item h2{
    font-size: 13px;
    line-height: 16px;
    padding: 0 6px 6px 6px;
}
.product__left-post-item img {
    width: 120px;
    height: 80px;
    display: block;
    float: left;
    margin-right: 12px;
}
.product__left-post-nextpage {
    clear: both;
    overflow: hidden;
    margin: 20px 0;
}
.page-numbers {
    background: #fff;
    color: #3399ff;
    display: inline-block;
    margin-bottom: 8px;
    padding: 17px 14px;
    border: 1px solid #e6eae6;
    font-size: 16px;
    font-weight: bold;
}
.product__left-contact {
    text-align: center;
    line-height: 1.5;
}
.product__left-contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.product__left-contact-item {
    padding: 5px;
    color: #3399ff;
}
.product__left-contact-item2 {
    padding: 1px;
    color: #3399ff;
}
.product__left-contact-item::after {

        content: "|";
        color: #222;
        font-size: inherit;
}
.product__left-contact-item2::after {

    content: "|";
    color: #222;
    font-size: inherit;
}
.product__left-contact-item:last-child::after{

    content: '';

}
.product__left-link {
    color: #3399ff;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;

}
/* hi */
.laguna-comments-wrapper {
    max-width: 800px;
    margin: 20px 0;
}
.laguna-comments-wrapper .block-border {
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #ebebeb;
  }
.laguna-comments-wrapper .comments-block-container .block-title {
    margin-bottom: 16px;
  }
.laguna-comments-wrapper .block-title {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #273a4e;
 }
 .laguna-comments-wrapper .add-comment-form .union-block {
    display: flex;
 }
 .laguna-comments-wrapper .add-comment-form .union-block .form-group:first-child {
    margin-right: 20px;
 }
 .laguna-comments-wrapper .add-comment-form .union-block .form-group {
    width: calc(50% - 10px);
  }
  .laguna-comments-wrapper .form-group {
    margin-bottom: 20px;
  }
  .laguna-comments-wrapper .custom-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border-radius: 22px;
    border: 1px solid #dcdfe3;
    font-size: 16px;
    color: #526171;
  }
  .laguna-comments-wrapper .custom-input.comment {
    border-radius: 6px;
  }
  .laguna-comments-wrapper .custom-textarea {
    width: 100%;
    height: 100px;
    padding: 10px 15px;
    border-radius: 22px;
    border: 1px solid #dcdfe3;
    resize: none;
    font-size: 16px;
    color: #526171;
  }
  .laguna-comments-wrapper .add-comment-form .feedback-and-agreement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: -10px;
}
.laguna-comments-wrapper .add-comment-form .feedback-and-agreement .agreement-block {
    display: flex;
  }
  .laguna-comments-wrapper .add-comment-form .feedback-and-agreement .agreement-block .custom-checkbox-label {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 10px;
    font-size: 14px;
    line-height: 1.43;
    cursor: pointer;
  }
  .laguna-comments-wrapper .agreement-block .link {
    color: #119822;
  }
  .laguna-comments-wrapper .form-group {
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .laguna-comments-wrapper .simple-btn.submit-btn {
    width: auto;
    height: 40px;
    padding: 0 33px;
  }
  .laguna-comments-wrapper .simple-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 44px;
    max-width: 240px;
    width: 100%;
    padding: 0 20px;
    border: none;
    border-radius: 22px;
    background-color: #119822;
    -webkit-box-shadow: 0 2px 8px 0 rgba(17, 152, 34, 0.7);
    box-shadow: 0 2px 8px 0 rgba(17, 152, 34, 0.7);
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    -webkit-transition: all 0.4s cubic-bezier(0.2, 0.57, 0.36, 0.8);
    transition: all 0.4s cubic-bezier(0.2, 0.57, 0.36, 0.8);
    cursor: pointer;
  }
  .laguna-comments-wrapper .comments-commun-block .comments-list-container {
    margin-top: 40px;
  }
  .laguna-comments-wrapper .comments-commun-block .comments-list-container .title {
    margin: 0 0 16px 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
    color: #273a4e;
  }
  .laguna-comments-wrapper .comments-commun-block .comments-list-container .comments-list > li {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 30px 30px 30px;
    background: #fff;
    border: 1px solid #dcdfe3;
    border-radius: 6px;
}
.comment-item {
    background: #eee;
    padding: 14px;
    overflow: hidden;
    margin-bottom: 14px;
  }
  .laguna-comments-wrapper .comment-item .title-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .laguna-comments-wrapper .comment-item .title-part .user-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 84px);
    padding-right: 20px;
  }
  .laguna-comments-wrapper .comment-item .title-part .user-info .avatar.has-avatar {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .laguna-comments-wrapper .comment-item .title-part .user-info .avatar {
    width: 36px;
    height: 36px;
    border: 2px solid #119822;
    border-radius: 50%;
  }
  .comment-item .avatar {
    float: left;
    margin-right: 14px;
  }
  .laguna-comments-wrapper .comment-item .title-part .user-info .concise {
    width: calc(100% - 36px);
    padding-left: 15px;
    cursor: default;
  }
  .laguna-comments-wrapper .comment-item .title-part .user-info .concise .nickname {
    width: 100%;
    font-weight: 500;
    line-height: 1.25;
    color: #273a4e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .laguna-comments-wrapper .comment-item .title-part .user-info .concise .time {
    font-size: 12px;
    line-height: 1.33;
    color: #96a0a9;
  }
  .laguna-comments-wrapper .comment-item .body-part {
    position: relative;
    margin: 10px 0;
  }
  .laguna-comments-wrapper .comment-item .body-part div {
    display: block;
    margin: 0;
    font-size: 16px;
    line-height: 1.75;
    overflow: hidden;
  }
  .laguna-comments-wrapper .comment-item .bottom-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }