.acc {
  background-color: grey;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 1px solid white;
  outline: none;
  transition: 0.4s;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
}

.active,
.acc:hover {
  background-color: gainsboro;
}

.acc {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ededee;
  padding: 17px;
  border-radius: 5px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background-color: #fff;
  color: #222;
  position: relative;
}

.acc .heading {
  font-size: 20px;
  font-weight: bold;
}

.acc i {
  font-size: 15px;
  width: 25px;
  height: 25px;
  background-color: #46bf00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  color: #fff;
}
.acc i::before {
  margin-bottom: -3px;
}


.active,
.acc:hover {
  background-color: #46bf00;
  color: white;
}

.content {
  display: none;
  font-size: 16px;
  padding: 17px 17px 25px 17px;
  color: #5c5f77;
}

@media (max-width: 1500px) {
  .main__related-item {
    width: 49%;
  }
  .main__download-info {
    width: 55%;
  }
}
@media (max-width: 1100px) {
  .main__content-three {
    flex-direction: column;
  }
  .main__center {
    width: 100%;
  }
  .main__sidebar {
    width: 100%;
  }
  .product__right-trending-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  /* .product__right-trending-item {
        width: 45%;
    } */
}
@media (max-width: 650px) {
  .main__related-item {
    width: 100%;
  }
  .product__right-trending-item {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .main__download-info {
    width: 90%;
  }
}
