
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(../../fonts/OpenSans-Light.eot);
  src: url(../../fonts/OpenSans-Light.ttf);
  src: url(../../fonts/OpenSans-Light.woff);
  src: url(../../fonts/OpenSans-Light.woff2);
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(../../fonts/OpenSans-Medium.eot);
  src: url(../../fonts/OpenSans-Medium.ttf);
  src: url(../../fonts/OpenSans-Medium.woff);
  src: url(../../fonts/OpenSans-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(../../fonts/OpenSans-Bold.eot);
  src: url(../../fonts/OpenSans-Bold.ttf);
  src: url(../../fonts/OpenSans-Bold.woff);
  src: url(../../fonts/OpenSans-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(../../fonts/OpenSans-Regular.eot);
  src: url(../../fonts/OpenSans-Regular.ttf);
  src: url(../../fonts/OpenSans-Regular.woff);
  src: url(../../fonts/OpenSans-Regular.woff2);
  font-weight: 400;
}
