body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color : #222;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    width: 80%;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
    margin: 0 0 8px;
}
h1,h2,h3 {
    color: #292d3a;
}
p {
    font-family: 'Roboto',sans-serif;
}